
.addAndEditProductBody {
    border: 2px solid black;
    text-align: left;
    padding: 15px;
    min-width: 400px;
    width: 100%;
    margin: 16px;

    .inBorder {
        padding-inline: 6px;
    }
    .productImg {
        width: 100px;
        height: auto;
        border-radius: 8px;
        margin-bottom: 16px;
    }
    input, textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .priceInput {
        width: 100px;
        margin-right: 8px;
    }

    .saveBtn {
        background-color: #4CAF50;
        padding: 8px 16px;
        cursor: pointer;
        margin-left: auto;
        display: flex;
        align-self: left;

        &:hover {
            background-color: #45a049;
        }
        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    }

}