# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.ade
.adp
.asd
.asf
.asx
.bas
.bat
.chm
.cil
.class
.cmd
.com
.cpl
.crt
.dat
.dll
.doc
.dot
.eml
.exe
.hcp
.hlp
.hta
.hte
.htm
.inf
.jse
.lnk
.mda
.mdb
.mde
.mdw
.msc
.msi
.msp
.nws
.ocx
.pif
.pl
.pm
.pot
.pps
.ppt
.reg
.rtf
.scr
.sct
.shb
.shs
.sys
.vb
.vbe
.vbs
.vcf
.wmd
.wms
.wmz
.wsc
.wsf
.wsh
.xls
.xlt
.xlw
.zlb
.zip
.rar
.gz
.tgz
